@charset "utf-8";

/* CSS Document */

#section_1 {
    color: #FF7878;
    background-color: #4EDEC2;
    background-image: url(../images/bit_error/bit_error.jpg
);
    background-size: cover;
    background-repeat: no-repeat;
}

#section_2 {
    color: #3D414D;
    background-color: #EFECE7;
}

#section_3 {
    color: #EFECE7;
    background-color: #3D414D;
}

#section_4 {
    color: #FFFFFF;
    background-color: #EFECE7;
}

#image_1 {
    height: 100%;
    background-image: url(../images/bit_error/tx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#image_2 {
    height: 100%;
    background-image: url(../images/bit_error/rx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#section_5 {
    color: #FFFFFF;
    background-color: #4EDEC2;
}

#section_6 {
    color: #FFFFFF;
    background-color: #EFECE7;
}

#image_3 {
    height: 100%;
    background-image: url(../images/bit_error/transmitter_schematic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#image_4 {
    height: 100%;
    background-image: url(../images/bit_error/receiver_schematic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section_7 {
    color: #FFFFFF;
    background-color: #4EDEC2;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {}
