@charset "utf-8";

/* CSS Document */

#section_1 {
    color: #3D414D;
    background-color: #EFECE7;
}


/******************************************************************************************************/
/**************************************Contact Me - Section Break**************************************/
/******************************************************************************************************/

#section_2 {
    color: #3D414D;
    background-color: #EFECE7;
}

#contact_us_content_block {
    margin-top: 10%;
}

#contact_us_content {
    text-align: justify;
    margin: 0;
    padding: 0;
}

#contact_us_content p {
    margin: 0;
    padding: 0;
}

#contact_form_block {
    margin-top: 10%;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {}
