@charset "utf-8";

/* CSS Document */

.floating_placeholder {
    margin-bottom: 1.3em;
}

.floating_placeholder,
#description_parent,
.input_space {
    width: 100%;
}

.input_space {
    text-indent: 7px;
    border: solid 1px #3D414D;
    color: #757575;
    background-color: #FFFFFF;
}

.input_space:focus {
    outline: none;
    border: solid 2px #4EDEC2;
}

.floating_placeholder input {
    height: 43px;
}

.input_space::-ms-clear {
    display: none;
}

.input_space:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#description_parent textarea {
    height: 6em;
    resize: none;
    text-indent: 0;
    padding: 7px;
}

#submit_button {
    height: 50px;
    width: 100%;
    border: solid 2px #4EDEC2;
    margin-top: 3em;
    padding: 0;
    color: #4EDEC2;
    background-color: transparent;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition: background-position 0.75s ease-in-out;
    transition: background-position 0.75s ease-in-out;
}

#submit_button:focus,
input {
    outline: none;
}

.submit_button_hover_attr {
    -webkit-transition: all 0.1s ease-in-out !important;
    transition: all 0.1s ease-in-out !important;
}

.submit_button_hover_attr:hover {
    background-color: #4EDEC2 !important;
    color: #EFECE7 !important;
}

#submit_button .disabled {
    color: #757575;
    background-color: #FFFFFF;
    border: solid 1px #3D414D;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.message_sending {
    background-image: url(../images/contact_form_icons/sending-compressor.png);
    border: none !important;
    background-color: #4EDEC2 !important;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 115% 50%;
}

.send_confirm {
    background-image: url(../images/contact_form_icons/sent-compressor.png);
    border: none !important;
    background-color: #4EDEC2 !important;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.send_error {
    color: #3D414D !important;
    background-color: #FF7878 !important;
    border: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contact_icon {
    position: absolute;
    margin-top: 0.35em;
    left: 0;
    height: 1.8em;
    width: 1.8em;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.contact_icon_animation {
    -webkit-transform: translate(-2.5em, 0);
    -ms-transform: translate(-2.5em, 0);
    transform: translate(-2.5em, 0);
    z-index: 1;
}

#name_icon {
    background-image: url(../images/contact_form_icons/name-compressor.png);
}

#company_icon {
    background-image: url(../images/contact_form_icons/company-compressor.png);
}

#email_icon {
    background-image: url(../images/contact_form_icons/email-compressor.png);
}

#description_icon {
    background-image: url(../images/contact_form_icons/description-compressor.png);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(61, 65, 77, 0.5);
    background-color: #FFFFFF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(61, 65, 77, 0.5);
    background-color: #FFFFFF;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(61, 65, 77, 0.5);
    background-color: #FFFFFF;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(61, 65, 77, 0.5);
    background-color: #FFFFFF;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
}
