@charset "utf-8";

/* CSS Document */

.image_size_inherit {
    height: 100%;
    margin-top: 75px;
}

#section_1 {
    color: #FFFFFF;
    background-color: #4EDEC2;
    background-image: url(../images/graphic_design/graphic_background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section_2 {
    color: #3D414D;
    background-color: #EFECE7;
}

#section_3 {
    color: #EFECE7;
    background-color: #3D414D;
}

#section_4 {
    color: #FFFFFF;
    background-color: #EFECE7;
}

#image_1 {
    height: 100%;
    background-image: url(../images/graphic_design/business_card_3d.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#image_2 {
    height: 100%;
    background-image: url(../images/graphic_design/value_prop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section_5 {
    color: #FFFFFF;
    background-color: #EFECE7;
}

#image_3 {
    height: 100%;
    background-image: url(../images/graphic_design/backdrop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#image_4 {
    height: 100%;
    background-image: url(../images/graphic_design/funnel.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#image_5 {
    height: 100%;
    background-image: url(../images/graphic_design/podium.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {}
