@charset "utf-8";

/* CSS Document */

#section_1 {
    color: #FFFFFF;
    background-color: #4EDEC2;
}

#header_content {}

#header_button_wrapper {
    margin-top: 40px;
}

#header_button_1 {
    margin-right: 2%;
}

#header_button_2 {
    margin-left: 2%;
}

#section_1 h2 {
    font-weight: 300;
}

#header_image {
    height: 100%;
    background-image: url(../images/placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#section_2 {
    color: #3D414D;
    background-color: #EFECE7;
}

#bio_text {
    text-align: justify;
    margin-top: 5%;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {}
