@charset 'utf-8';

/* CSS Document */

h2 {
    margin-bottom: 8%;
}

ul {
    list-style-type: none;
}

#section_1 {
    color: #FFFFFF;
    background-color: #4EDEC2;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile_image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background-image: url(../images/profile-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.link_button {
    margin-top: 30px;
}

#section_2 {
    color: #3D414D;
    background-color: #EFECE7;
}

#section_3 {
    color: #3D414D;
    background-color: #EFECE7;
}

#section_4 {
    color: #3D414D;
    background-color: #EFECE7;
}

#section_4 .container .row {
    display: table-row;
}

#section_4 .container .row>div {
    display: table-cell;
    padding: 0;
}

#bio_text {
    margin-top: 5%;
    text-align: justify;
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    #section_2 h2,
    #profile_image {
        /*text-align: center;*/
        background-position: center;
    }
}



/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #section_2 h2,
    #profile_image {
        /*text-align: center;*/
        background-position: center;
    }
}



/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #section_2 h2,
    #profile_image {
        /*text-align: center;*/
        background-position: center;
    }
}



/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /**/
}



/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    /**/
}



/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {
    /**/
}