@charset "utf-8";

/* CSS Document */

.touch_device_mode {
    pointer-events: none;
}

.navbar_open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(61, 65, 77, 0.7);
    z-index: 200;
}

.navbar,
.navbar a {
    background-color: #3D414D;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.navbar a:hover {
    background-color: #3D414D !important;
}

.navbar li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background-color: transparent;
    -webkit-transition: width 0.15s ease, background-color 0.15s ease;
    transition: width 0.15s ease, background-color 0.15s ease;
}

.navbar li:hover:after {
    width: 100%;
    background-color: #FFFFFF;
}

.navbar li,
.navbar ul {
    padding: 0;
    margin: 0;
}

.active_link {
    /*PLACEHOLDER*/
}

.active_link:before {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar-header {
    float: left;
    margin: 0 auto;
}

#hamburger_menu {
    background-color: #3D414D;
}

#hamburger_menu span {
    background-color: #FFFFFF;
}

.navbar .container-fluid {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 auto 0 0;
}

.navbar {
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hidden_nav {
    top: -60px;
}

@charset "utf-8";

/* CSS Document */

.header_arrow {
    height: 2.5em;
    width: 2.7em;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 100%;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: header_arrow 5s infinite;
    -moz-animation: header_arrow 5s infinite;
    -o-animation: header_arrow 5s infinite;
    animation: header_arrow 5s infinite;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.header_arrow.removed {
    opacity: 0;
}

@-webkit-keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        -webkit-transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-10px);
    }
    20% {
        -webkit-transform: translateY(-7px);
    }
    30% {
        -webkit-transform: translateY(-3px);
    }
}

@-moz-keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        -moz-transform: translateY(0);
    }
    10% {
        -moz-transform: translateY(-10px);
    }
    30% {
        -moz-transform: translateY(-7px);
    }
    30% {
        -moz-transform: translateY(-3px);
    }
}

@-o-keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        -o-transform: translateY(0);
    }
    10% {
        -o-transform: translateY(-10px);
    }
    20% {
        -o-transform: translateY(-7px);
    }
    30% {
        -o-transform: translateY(-3px);
    }
}

@keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(-7px);
    }
    30% {
        transform: translateY(-3px);
    }
}


/*Used to remove underlining on hamburger menu.*/

@media only screen and (max-width: 767px) {
    .navbar li:hover:after {
        width: 0;
        background-color: #111111;
    }
    .active_link:before {
        height: 0;
    }
    .navbar ul {
        margin-top: 3px;
    }
}
