@charset 'utf-8';

/* CSS Document */

#section_1 {
    color: #FFFFFF;
    background-color: #4EDEC2;
}

#section_2 {
    color: #4EDEC2;
    background-color: #EFECE7;
}

.project_wrapper_full {
    position: relative;
    height: 300px;
    padding: 40px;
}

.project_title_full_left {
    float: left;
    width: 40%;
    margin-top: -2%;
}

.project_content_full_right {
    display: inline-block;
    width: 60%;
    text-align: justify;
}

.project_title_full_right {
    display: inline-block;
    width: 40%;
    margin-top: -2%;
    text-align: right;
}

.project_content_full_left {
    float: left;
    width: 60%;
    text-align: justify;
}

.project_wrapper_half {
    position: relative;
    height: 300px;
    padding: 40px;
}

.project_title_half {
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-backface-visibility: hidden;
}

.project_title_half_hovered {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project_title_half h3 {
    word-break: normal;
}

.project_content_half {
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-align: justify;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project_content_half_hovered {
    visibility: visible;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
}

#project_1 {
    color: #EFECE7;
    background-color: #3D414D;
    background-image: url(../images/mok-project/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_2 {
    color: #EFECE7;
    background-color: #FF7878;
    background-image: url(../images/terminal-reskin/kiosk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_3 {
    color: #3D414D;
    background-color: #EFECE7;
    background-image: url(../images/statistical_analysis/statistical_analysis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_4 {
    color: #EFECE7;
    background-color: #FF7878;
    background-image: url(../images/poc_website/poc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_5 {
    color: #EFECE7;
    background-color: #3D414D;
    background-image: url(../images/quadcopter/quadcopter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_6 {
    color: #3D414D;
    background-color: #4EDEC2;
    background-image: url(../images/statistical_maintenance/statistical_maintenance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_7 {
    color: #3D414D;
    background-color: #EFECE7;
    background-image: url(../images/bearing_wipe/bearing_wipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#project_8 {
    color: #3D414D;
    background-color: #FF7878;
    background-image: url(../images/graphic_design/graphic_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#project_9 {
    color: #FF7878;
    background-color: #3D414D;
    background-image: url(../images/bit_error/bit_error.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    .project_title_full_right {
        text-align: left;
    }
    .project_title_full {
        width: 100%;
        -webkit-transform: translateY(150px);
        transform: translateY(150px);
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .project_title_full_right {
        text-align: left;
    }
    .project_title_full {
        width: 100%;
        -webkit-transform: translateY(150px);
        transform: translateY(150px);
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .project_title_full_right {
        text-align: left;
    }
    .project_title_full {
        width: 100%;
        -webkit-transform: translateY(163px);
        transform: translateY(163px);
    }
}
