@charset"utf-8";

/*CSSDocument*/

.base {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
}

.section_wrapper {
    padding-top: 4%;
    padding-bottom: 8%;
}

.underline {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 15px;
    display: inline-block;
    border-bottom: 4px solid #4EDEC2;
}


/*Custom,iPhoneRetina*/

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p,
    a {
        font-size: 1em;
    }
}


/*ExtraSmallDevices,Phones*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p,
    a {
        font-size: 1em;
    }
}


/*SmallDevices,Tablets*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.75em;
    }
    p,
    a {
        font-size: 1.125em;
    }
}


/*MediumDevices,Desktops*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2em;
    }
    p,
    a {
        font-size: 1.25em;
    }
}


/*LargeDevices,WideScreens*/

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2.5em;
    }
    p,
    a {
        font-size: 1.5em;
    }
}


/*VeryLargeDevices,VeryWideScreens*/

@media only screen and (min-width: 1600px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2.5em;
    }
    p,
    a {
        font-size: 1.25em;
    }
}
