// Icons
// -------------------------


[data-icons8]:before,
.icons8-undo:before,
.icons8-undo-2:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-undo:before { content: $icons8-var-undo; }
.icons8-undo-2:before { content: $icons8-var-undo-2; }

