/**************************************************
* This file should be composed of navbar_styling, * 
* header_arrow, contact_form, and address_styling.*
**************************************************/

@charset "utf-8";
/* CSS Document */
body {
	font-family: lato, Helvetica, Arial, sans-serif;
	font-size: 14px;
}
p, a, label, input, textarea {
	word-wrap: break-word;
	font: 14px;
	line-height: 18px;
	font-weight: 500;
}
h1 {
	word-wrap: break-word;
	font-size: 21px;
	line-height: 24px;
	font-weight: 900;
}
h2 {
	word-wrap: break-word;
	font: 15px;
	line-height: 18px;
	font-weight: 500;
}
.base {
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.sizing_container {
	margin-top: 10%;
	margin-bottom: 20%;
}
.underline {
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 15px;
	display: inline-block;
	border-bottom: 4px solid #0291D3;
}
#break_1 {
	background-color: #FFFFFF;
	color: #757575;
}
#break_2a {
	background-color: #FFFFFF;
	color: #757575;
}
#break_2 {
	background-color: #607D8B;
	color: #FFFFFF;
}
#break_3 {
	background-color: #FFFFFF;
	color: #757575;
}
#break_4 {
	background-color: #D1DEE5;
	color: #212121;
}
#break_5 {
	background-color: #445A64;
	color: #FFFFFF;
}

/**************************************************************************************************/
/**************************************Navbar - Section Break**************************************/
/**************************************************************************************************/


/**************************************************************************************************/
/**************************************Header - Section Break**************************************/
/**************************************************************************************************/
#break_1 {
	height: 100%;
	width: 100%;
	background-image: url(../images/photo_dark.jpg);
	background-size: cover;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #212121;
}
#header_content {
}
#header_content h1 {
	font-size: 2.5em;
	line-height: 1em;
}
#header_content p {
	margin-top: 3%;
}
#header_block {
	margin-top: 10%;
}
#header_block p {
	text-align: justify;
}

/**************************************************************************************************/
/**************************************Why Us - Section Break**************************************/
/**************************************************************************************************/
#whyus_content_block {
	margin-top: 10%;
}
#whyus_content {
	text-align: justify;
}
#roi_graph_container {
	margin: 0;
	padding: 0;
	height: 350px;
	width: 100%;
	background-color: transparent;
	text-decoration: none;
}
#roi_graph {
	height: 100%;
	width: 100%;
}

/****************************************************************************************************/
/**************************************Services - Section Break**************************************/
/****************************************************************************************************/
#services_content_block {
	margin-top: 10%;
}
#services_content {
	text-align: justify;
	margin: 0;
	padding: 0;
}
#services_content p {
	margin-top: 32px;
}
#services_tile_block {
	margin-top: 10%;
}
#services_tile_block a {
	text-decoration: none;
}
.services_tile {
	height: 130px;	/*Default Mobile*/
	padding: 10px 15px 15px 15px;	/*Default Mobile*/
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #D1DEE5;
	color: #0291D3;
	-webkit-box-shadow: 0 4px 5px rgba(33, 33, 33, 0.2);
	-moz-box-shadow: 0 4px 5px rgba(33, 33, 33, 0.2);
	-o-box-shadow: 0 4px 5px rgba(33, 33, 33, 0.2);
	box-shadow: 0 4px 5px rgba(33, 33, 33, 0.2);
}
.services_tile:hover {
	background-color: #0291D3;
	color: #FFFFFF;
}
.services_tile h2 {
	padding: 0;
	margin: 0;
	color: inherit;
}
#services_tile_1 {
	background-image: url(../images/ICONS/Group%202@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_1:hover {
	background-image: url(../images/inverse%20color%20icons/Group%202@3x.png);
}
#services_tile_2 {
	background-image: url(../images/ICONS/Calendar%20Filled-500@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_2:hover {
	background-image: url(../images/inverse%20color%20icons/Calendar%20Filled-500@3x.png);
}
#services_tile_3 {
	background-image: url(../images/ICONS/Process%20Filled-500@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_3:hover {
	background-image: url(../images/inverse%20color%20icons/Process%20Filled-500@3x.png)
}
#services_tile_4 {
	background-image: url(../images/ICONS/Ambulance%20Filled-500@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_4:hover {
	background-image: url(../images/inverse%20color%20icons/Ambulance%20Filled-500@3x.png);
}
#services_tile_5 {
	background-image: url(../images/ICONS/Test%20Tube%20Filled-500@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_5:hover {
	background-image: url(../images/inverse%20color%20icons/Test%20Tube%20Filled-500@3x.png);
}
#services_tile_6 {
	background-image: url(../images/ICONS/Search%20Filled-500@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_6:hover {
	background-image: url(../images/inverse%20color%20icons/Search%20Filled-500@3x.png);
}
#services_tile_7 {
	background-image: url(../images/ICONS/Group%203@3x.png);
	background-position: calc(100% - 15px) calc(100% - 15px);
	background-repeat: no-repeat;
	background-size: auto 31%;
}
#services_tile_7:hover {
	background-image: url(../images/inverse%20color%20icons/Group%203@3x.png);
}

/********************************************************************************************************/
/**************************************Who We Serve - Section Break**************************************/
/********************************************************************************************************/
#who_we_serve_content_block {
	margin-top: 10%;
}
#who_we_serve_content {
	text-align: justify;
	margin: 0;
	padding: 0;
}
#who_we_serve_content p {
	margin: 0;
	padding: 0;
}
#who_we_serve_icon_block {
	margin-top: 10%;
}
.industry_icon {
	width: 100%;
	height: 86px;	/*Mobile Default*/
	background-size: 51px 51px;	/*Mobile Default*/
	background-position: 50% 0;
	padding-top: 103px;	/*Mobile Default*/ /*Icon Height + Offset*/
}
.industry_icon p {
	color: #0291D3;
	font-weight: 900;
	word-wrap: normal;
}
#industry_icon_1 {
	background-image: url(../images/ICONS/Hydroelectric%20Filled-500@3x.png);
	background-repeat: no-repeat;
}
#industry_icon_2 {
	background-image: url(../images/ICONS/Factory%20Filled-500@3x.png);
	background-repeat: no-repeat;
}
#industry_icon_3 {
	background-image: url(../images/ICONS/Solar%20Panel%20Filled-500@3x.png);
	background-repeat: no-repeat;
}
#industry_icon_4 {
	background-image: url(../images/ICONS/Nuclear%20Power%20Plant%20Filled-500@3x.png);
	background-repeat: no-repeat;
}
#industry_icon_5 {
	background-image: url(../images/ICONS/Geothermal%20Filled-500@3x.png);
	background-repeat: no-repeat;
}
#industry_icon_6 {
	background-image: url(../images/ICONS/Wind%20Turbine%20Filled-500@3x.png);
	background-repeat: no-repeat;
}

/******************************************************************************************************/
/**************************************Contact Us - Section Break**************************************/
/******************************************************************************************************/
#contact_us_content_block {
	margin-top: 10%;
}
#contact_us_content {
	text-align: justify;
	margin: 0;
	padding: 0;
}
#contact_us_content p {
	margin: 0;
	padding: 0;
}
#contact_form_block {
	margin-top: 10%;
}
#googleMap {
	height: 325px;	/*Mobile Default*/
	margin-top: 10%;
}


/**************************************************************************************************/
/**************************************Footer - Section Break**************************************/
/**************************************************************************************************/
#break_5 {
	padding-top: 3%;
	padding-bottom: 1%;
}
#break_5 p,
#break_5 a {
	color: #FFFFFF;
	font-size: 0.75em;
}
#break_5 span {
	margin-right: 10px;
	margin-left: 10px;
}

/*************************************************************************************************************/
/**************************************Modify attributes at breakpoints.**************************************/
/*************************************************************************************************************/
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 479px) {
	#break_1 {
		background-image: url(../images/photo_dark_2.jpg);
	}
	body {
		font-size: 14px;
	}
	.container {
		width: 320px;
	}
	h1 {
		font-size: 21px;
		line-height: 24px;
	}
	h2 {
		font-size: 15px;
		line-height: 18px;
	}
	p, a, label, input, textarea {
		font-size: 14px;
		line-height: 18px;
	}
	#header_content h1 {
		font-size: 1.6em;
	}
	#whyus_content {
		padding-right: 0;
	}
	#roi_graph_container {
		padding-top: 10%;
		padding-left: 0;
	}
	#whyus_content {
		margin-top: 32px;
	}
	#services_content p {
		margin-top: 0px;
	}
	.services_tile {
		height: 130px;
		padding: 10px 15px 15px 15px;
	}
	.services_tile h2 {
		line-height: 19px;
	}
	.industry_icon {
		height: 86px;
		margin-bottom: 32px;
		background-size: 51px 51px;
		padding-top: 68px;
	}
	#contact_form_block {
		margin-top: 20%;
	}
	#googleMap {
		height: 325px;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width: 767px) {
	#break_1 {
		background-image: url(../images/photo_dark_1.jpg);
	}
	body {
		font-size: 14px;
	}
	.container {
		/*width: 320px;*/
		width: 480px !important;
	}
	h1 {
		font-size: 21px;
		line-height: 24px;
	}
	h2 {
		font-size: 15px;
		line-height: 18px;
	}
	p, a, label, input, textarea {
		font-size: 14px;
		line-height: 18px;
	}
	/*#header_content h1 {
		font-size: 32px;
		line-height: 34px;
	}*/
	#whyus_content {
		padding-right: 0;
	}
	#roi_graph_container {
		padding-top: 10%;
		padding-left: 0;
	}
	#whyus_content {
		margin-top: 0px;
	}
	#services_content p {
		margin-top: 76px;
	}
	.services_tile {
		height: 130px;
		padding: 10px 15px 15px 15px;
	}
	.industry_icon {
		height: 86px;
		margin-bottom: 32px;
		background-size: 51px 51px;
		padding-top: 68px;
	}
	#contact_form_block {
		margin-top: 20%;
	}
	#googleMap {
		height: 325px;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
	#break_1 {
		background-image: url(../images/photo_dark_1.jpg);
	}
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 24px;
		line-height: 27.43px;
	}
	h2 {
		font-size: 17.14px;
		line-height: 20.57px;
	}
	p, a, label, input, textarea {
		font-size: 16px;
		line-height: 20.57px;
	}
	/*#header_content h1 {
		font-size: 34px;
		line-height: 36px;
	}*/
	#whyus_content {
		padding-right: 0;
	}
	#roi_graph_container {
		padding-top: 10%;
		padding-left: 0;
	}
	#whyus_content {
		margin-top: 0px;
	}
	#services_content p {
		margin-top: 76px;
	}
	.services_tile {
		height: 130px;
		padding: 10px 15px 15px 15px;
	}
	.industry_icon {
		height: 114px;
		margin-bottom: 72px;
		background-size: 67px 67px;
		padding-top: 93px;
	}
	#contact_form_block {
		margin-top: 10%;
	}
	#googleMap {
		height: 350px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#break_1 {
		background-image: url(../images/photo_dark_1.jpg);
	}
	body {
		font-size: 18px;
	}
	h1 {
		font-size: 27px;
		line-height: 30.86px;
	}
	h2 {
		font-size: 19.29px;
		line-height: 23.15px;
	}
	p, a, label, input, textarea {
		font-size: 18px;
		line-height: 23.14px;
	}
	/*#header_content h1 {
		font-size: 38px;
		line-height: 40px;
	}*/
	#whyus_content {
		padding-right: 8%;
	}
	#roi_graph_container {
		padding-top: 0;
		padding-left: 8%;
	}
	#whyus_content {
		margin-top: 10px;
	}
	#services_content p {
		margin-top: 96px;
	}
	.services_tile {
		height: 130px;
		padding: 10px 15px 15px 15px;
	}
	.industry_icon {
		height: 124px;
		margin-bottom: 97px;
		background-size: 75px 75px;
		padding-top: 101px;
	}
	#contact_form_block {
		margin-top: 10%;
	}
	#googleMap {
		height: 350px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#break_1 {
		background-image: url(../images/photo_dark_1.jpg);
	}
	body {
		font-size: 20px;
	}
	h1 {
		font-size: 30px;
		line-height: 34.29px;
	}
	h2 {
		font-size: 21.43px;
		line-height: 25.72px;
	}
	p, a, label, input, textarea {
		font-size: 20px;
		line-height: 25.71px;
	}
	/*#header_content h1 {
		font-size: 42px;
		line-height: 46px;
	}*/
	#whyus_content {
		padding-right: 8%;
	}
	#roi_graph_container {
		padding-top: 10;
		padding-left: 8%;
	}
	#whyus_content {
		margin-top: 8px;
	}
	#services_content p {
		margin-top: 96px;
	}
	.services_tile {
		height: 160px;
		padding: 10px 15px 15px 15px;
	}
	.industry_icon {
		height: 137px;
		margin-bottom: 117px;
		background-size: 80px 80px;
		padding-top: 111px;
	}
	#contact_form_block {
		margin-top: 10%;
	}
	#googleMap {
		height: 400px;
	}	
}
/* Very Large Devices, Very Wide Screens */
@media only screen and (min-width : 1600px) {
}

/* Fix IE Errors... */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#break_1 {
		
	}
}