body {
    margin: 20px 0 0 0;
    padding: 0;
    background-color: #EFECE7;
}

#terminal-bezel {
    z-index: 99;
    min-width: 1024px;
    max-width: 1024px;
    height: 768px;
    margin: 0 auto;
    border: solid 50px #3D414D;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 10px 15px rgba(61, 65, 77, 0.7);
    box-shadow: 0 10px 15px rgba(61, 65, 77, 0.7);
}

#terminal-bezel > object {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
