@charset 'utf-8';

/* CSS Document */

.touch_device_mode {
    pointer-events: none;
}

.navbar_open {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 65, 77, 0.7);
}

.navbar,
.navbar a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #3D414D;
}

.navbar a:hover {
    background-color: #3D414D !important;
}
.navbar a:focus,
.navbar a:active {
    outline: none;
    text-decoration: none;
    background-color: transparent !important;
}

.navbar li:after {
    display: block;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    -webkit-transition: width 0.15s ease, background-color 0.15s ease;
    -o-transition: width 0.15s ease, background-color 0.15s ease;
    transition: width 0.15s ease, background-color 0.15s ease;
    background-color: transparent;
}

.navbar li:hover:after {
    width: 100%;
    background-color: #FFFFFF;
}

.navbar li,
.navbar ul {
    margin: 0;
    padding: 0;
}

.active_link {
    /*PLACEHOLDER*/
}

.active_link:before {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    margin: auto;
    content: '';
    background-color: #FFFFFF;
}

.navbar-header {
    float: left;
    margin: 0 auto;
}

#hamburger_menu {
    background-color: #3D414D;
}

#hamburger_menu span {
    background-color: #FFFFFF;
}

.navbar .container-fluid {
    margin: 0;
    padding: 0 auto 0 0;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.navbar {
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hidden_nav {
    top: -60px;
}

.header_arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2.7em;
    height: 2.5em;
    margin: 0 auto;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-animation: header_arrow 5s infinite;
    animation: header_arrow 5s infinite;
    opacity: 100%;
    background-image: url(../images/arrow.png);
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}

.header_arrow.removed {
    opacity: 0;
}

@-webkit-keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        -webkit-transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-10px);
    }
    20% {
        -webkit-transform: translateY(-7px);
    }
    30% {
        -webkit-transform: translateY(-3px);
    }
}

@keyframes header_arrow {
    0%,
    15%,
    25%,
    35%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    20% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    30% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

.portfolio-back-button {
    font-size: 22px;
    position: fixed;
    z-index: 99999;
    right: 20px;
    bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 56px;
    cursor: pointer;
    color: #EFECE7;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #4EDEC2;
    -webkit-box-shadow: 5px 10px 15px rgba(61, 65, 77, 0.5);
            box-shadow: 5px 10px 15px rgba(61, 65, 77, 0.5);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 0.025s ease-in-out;
    transition: -webkit-transform 0.025s ease-in-out;
    -o-transition: transform 0.025s ease-in-out;
    transition: transform 0.025s ease-in-out;
    transition: transform 0.025s ease-in-out, -webkit-transform 0.025s ease-in-out;
}

.portfolio-back-button-hover-attr:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}


/*Used to remove underlining on hamburger menu.*/

@media only screen and (max-width: 767px) {
    .navbar li:hover:after {
        width: 0;
        background-color: #111111;
    }
    .active_link:before {
        height: 0;
    }
    .navbar ul {
        margin-top: 3px;
    }
}
