@charset 'utf-8';

/* CSS Document */

.image_size_inherit {
    height: 100%;
}

.link_button {
    margin-top: 30px;
}

.code_format {
    font-family: 'Consolas';
    font-size: 16px;
    padding: 10px;
    word-break: break-all;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 4px 5px #3D414D;
            box-shadow: 0 4px 5px #3D414D;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    .image_height {
        height: 200px;
    }
    .image_size_inherit {
        padding: 0;
    }
    .mobile_image_margin {
        margin-top: 30px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .image_height {
        height: 300px;
    }
    .image_size_inherit {
        padding: 0;
    }
    .mobile_image_margin {
        margin-top: 30px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .image_height {
        height: 300px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .image_height {
        height: 400px;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .image_height {
        height: 400px;
    }
}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {
    .image_height {
        height: 400px;
    }
}
