// Font paths
// -------------------------

@font-face {
  font-family: "SVV-Onsite";
  src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.eot");
  src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.eot?#iefix") format("embedded-opentype"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.woff2") format("woff2"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.woff") format("woff"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.ttf") format("truetype"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.svg#SVV-Onsite") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "SVV-Onsite";
    src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.svg#SVV-Onsite") format("svg");
  }
}