/*
 * Icon Font SVV-Onsite
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "SVV-Onsite";
  src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.eot");
  src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.eot?#iefix") format("embedded-opentype"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.woff2") format("woff2"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.woff") format("woff"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.ttf") format("truetype"),
       url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.svg#SVV-Onsite") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "SVV-Onsite";
    src: url("../fonts/SVV-Onsite_cc71b82685f96d5e9bb32cca60e19ade.svg#SVV-Onsite") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-calendar:before,
.icons8-cancel-filled:before,
.icons8-clear-symbol:before,
.icons8-day-view-filled:before,
.icons8-list:before,
.icons8-medium-volume-filled:before,
.icons8-mute-filled:before,
.icons8-ok:before,
.icons8-plus-filled:before,
.icons8-restart-filled:before,
.icons8-spinner-frame-1:before,
.icons8-user:before,
.icons8-webcam-filled:before {
  display: inline-block;
  font-family: "SVV-Onsite";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-calendar:before { content: "\f10d"; }
.icons8-cancel-filled:before { content: "\f102"; }
.icons8-clear-symbol:before { content: "\f103"; }
.icons8-day-view-filled:before { content: "\f10b"; }
.icons8-list:before { content: "\f104"; }
.icons8-medium-volume-filled:before { content: "\f100"; }
.icons8-mute-filled:before { content: "\f101"; }
.icons8-ok:before { content: "\f105"; }
.icons8-plus-filled:before { content: "\f106"; }
.icons8-restart-filled:before { content: "\f107"; }
.icons8-spinner-frame-1:before { content: "\f10f"; }
.icons8-user:before { content: "\f108"; }
.icons8-webcam-filled:before { content: "\f109"; }