@charset 'utf-8';

/* CSS Document */


/**************************************Contact Me - Section Break**************************************/

#section_1 {
    padding-top: 100px;

    color: #3d414d;
    background-color: #efece7;
}

#contact_us_content_block {
    margin-top: 10%;
}

#contact_us_content {
    margin: 0;
    padding: 0;

    text-align: justify;
}

#contact_us_content p {
    margin: 0;
    padding: 0;
}

#contact_form_block {
    margin-top: 5%;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    /**/
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /**/
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /**/
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /**/
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    /**/
}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {
    /**/
}
