@charset 'utf-8';

/* CSS Document */

.image_size_inherit {
    height: 100%;
    margin-top: 75px;
}

#section_1 {
    color: #fff;
    background-color: #4edec2;
    background-image: url('../images/graphic_design/graphic_background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#section_2 {
    color: #3d414d;
    background-color: #efece7;
}

#section_3 {
    color: #efece7;
    background-color: #3d414d;
}

#section_4 {
    color: #fff;
    background-color: #efece7;
}

#image_1 {
    height: 100%;

    background-image: url('../images/graphic_design/business_card_3d.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#image_2 {
    height: 100%;

    background-image: url('../images/graphic_design/value_prop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#section_5 {
    color: #fff;
    background-color: #efece7;
}

#image_3 {
    height: 100%;

    background-image: url('../images/graphic_design/backdrop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#image_4 {
    height: 100%;

    background-image: url('../images/graphic_design/funnel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#image_5 {
    height: 100%;

    background-image: url('../images/graphic_design/podium.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 479px) {
    /**/
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /**/
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /**/
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /**/
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    /**/
}


/* Very Large Devices, Very Wide Screens */

@media only screen and (min-width: 1600px) {
    /**/
}
